*{
  padding: 0;
  margin: 0;
}
p{
  margin-bottom: 0px;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
:root{
  --body_background: #f1f1f1;
  --body_color: black;
  --link_color: gray;
  --search-bg: rgb(210, 210, 210);
}
[data-theme = "dark"]{
  --body_background: #181A2A;
  --body_color: #f1f1f1;
  --link_color: rgb(16, 116, 138);
  --search-bg: #242535;
}
.text-bold{
  font-weight: 700;
}
.mar-top{
  margin-top: -100px;
}


/* Nav bar */
.nav-bar{
  background-color: var(--body_background);
}
.nav-bar .logo{
  font-size: 1.5rem;
  color: var(--body_color);
}
.nav-bar .row{
  padding: 10px 0px;
}
.nav-bar .menu .ac{
  height: 100vh;
}
.nav-bar .menu ul{
  margin-top: 5px;
  margin-bottom: 0px;
  justify-content: right;
}
.nav-bar .menu ul li a{
  padding: 0px 10px;
  color: var(--link_color);
  font-weight: 600;
}
.nav-bar .search input{
  background-color: var(--search-bg);
  color: var(--body_color);
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-right: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
}
.nav-bar .search .fa-magnifying-glass{
  position: relative;
  top: 12px;
  right: 25px;
}
.nav-bar .toggleBtn{
  margin-top: 7px;
}
.nav-bar .toggleBtn i{
  font-size: 22px;
  color: var(--body_color);
}
.nav-bar .pcMenu{
  display: flex;
}
.nav-bar .search .fa-magnifying-glass{
  color: var(--body_color);
}
@media screen and (max-width: 768px){
  .nav-bar .menu .deActive{
    display: none;
  }
  .nav-bar .menu{
    position: absolute;
    left: 0;
    top: 58px;
    background-color: var(--body_background);
    z-index: 1;
  }
  .nav-bar .menu ul{
    display: block;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  .nav-bar .menu ul li{
    padding: 10px 0px;
  }
  .nav-bar .menu ul li:hover{
    background-color: #737171;
    transition: .3s all;
  }
  .nav-bar .toggleBtn{
    display: block!important;
  }
}
@media screen and (max-width: 575px){
  .nav-bar .toggleBtn{
    position: absolute;
    top: 12px;
    right: 30px;
  }
  .nav-bar .menu{
    top: 92px;
  }
}

/* Home */
.home{
  background-color: var(--body_background);
}
.home .banner img{
  margin-top: 20px;
  width: 100%;
}
@media screen and (min-width: 1024px){
  .home .banner img{
    height: 550px;
  }
}
.home .banner .banner-card{
  background-color: var(--body_background);
  width: 550px;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  top: -200px;
  left: 50px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 2px rgba(128, 128, 128, 0.419);
}
.home .banner .banner-card .tags{
  color: #f1f1f1;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
.home .banner .banner-card .title{
  font-size: 25px;
  font-weight: 500;
  color: var(--body_color);
}
.home .banner .auther-details .auther-name,
.home .banner .auther-details .date-time{
  color: var(--body_color);
  padding-left: 10px;
  margin-top: 32px;
  font-size: 1rem;
  font-weight: 500;
}
.home .banner .auther-details .profile-img img,
.blog-card .auther-details .profile-img img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media screen and (max-width: 768px){
  .home .banner .banner-card{
    width: 90%!important;
    left: 5%!important;
    top: -150px!important;
  }
}
@media screen and (max-width: 991px){
  .home .banner .banner-card{
    width: 80%;
    left: 60px;
  }
}


/* Footer */
.footer {
  background-color: var(--body_background);
  color: var(--body_color);
}
.footer .row{
  padding: 20px 5px;
}
.footer .row .row .title{
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
}
.footer .row .row .discription{
  margin-bottom: 20px;
}
.footer .links ul{
  padding-left: 0px!important;
}
.footer .links ul li{
  padding: 2px;
}
.footer .links ul li a{
  color: var(--link_color);
}
.footer .links ul li:hover a{
  padding-left: 10px;
  transition: .3s ease-in-out;
}
.footer .getintuch{
  margin-top: 10px;
  padding: 40px 20px;
  border-radius: 10px;
  background-color: var(--search-bg);
}
.footer .getintuch .title{
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 600;
}
.footer .getintuch .form input{
  width: 100%;
  /* padding: 10px 15px; */
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 35px;
  background-color: var(--body_background);
  border: none;
  border-radius: 10px;
  margin: 10px 0px;
  outline: none;
  color: var(--body_color);
}
.footer .getintuch .form button{
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-radius: 10px;
  color: var(--body_color);
}
.footer .getintuch .form .d-flex i{
  margin-top: 22px;
  font-size: 20px;
  margin-right: -20px;
  margin-left: -28px;
}

/* Advertisement */
.ads{
  background-color: var(--body_background);
}
.ads .advertisement{
  width: 750px;
  height: 100px;
  background-color: var(--search-bg);
  color: var(--body_color);
  border-radius: 10px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 10px 20px;
}
.ads .advertisement .dis{
  font-size: 18px;
}
@media screen and (max-width: 991px){
  .ads .advertisement{
    width: 100% ;
  }
}


/* Blog card */
.blog-card{
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.374);
  padding: 10px;
  border-radius: 10px;
  background-color: var(--body_background);
  color: var(--body_color);
  margin: 5px 0px;
}
.blog-card:hover{
  cursor: pointer;
}
.blog-card img{
  width: 100%;
  border-radius: 10px;
}
.blog-card .auther-details{
  justify-content: space-around;
}
.blog-card .auther-details .auther-name,
.blog-card .auther-details .date-time,
.blogviewer .auther-details .auther-name,
.blogviewer .auther-details .date-time{
  margin-top: 12px;
  font-weight: 500;
}
.blog-card .btn{
  margin: 10px 0px;
  color: var(--link_color);
}


/* latest-post */
.latest-post{
  background-color: var(--body_background);
}
.latest-post .l-title{
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
  color: var(--body_color);
}


/* Blogs */
.blogs{
  background-color: var(--body_background);
  color: var(--body_color);
}
.blogs .locater{
  padding-top: 10px;
}
.blogs .banner img{
  width: 100%;
}
@media screen and (min-width: 1024px){
  .blogs .banner img{
    height: 550px;
  }
}
.blogs .banner .banner-details{
  width: 75%;
  position: relative;
  top: -200px;
  left: 20px;
  color: #f1f1f1;
}
.blogs .banner .banner-details .tags{
  background-color: rgb(41, 77, 220);
  color: #f1f1f1;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.blogs .banner .banner-details .title{
  font-size: 35px;
  font-weight: 600;
}
@media screen and (max-width: 991px){
  .blogs .banner .banner-details .title{
    font-size: 25px;
  }
  .blogs .banner .banner-details{
    top: -170px;
  }
}
@media screen and (max-width: 768px){
  .blogs .banner .banner-details .title{
    font-size:15px;
  }
  .blogs .banner .banner-details{
    top: -140px;
  }
}
.blogs .banner .banner-details .auther-details .profile-img img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.blogs .banner .banner-details .auther-details .auther-name,
.blogs .banner .banner-details .auther-details .date-time{
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
  margin-left: 10px;
}


/* Tags Input Container */
.addblog{
  background-color: var(--body_background);
  color: var(--body_color);
  padding-top: 20px;
  height: 100vh;
}
.addblog .form .input-title{
  width: 100%;
  padding: 10px;
  font-size: 15px;
  color: gray;
  border: 1px solid rgba(128, 128, 128, 0.501);
  border-radius: 10px;
  outline: none;
  background-color: transparent;
}
.addblog .input-tags{
  border: 1px solid rgba(128, 128, 128, 0.501);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: transparent;
}
.addblog .input-tags .tags{
  background-color: #8c8c8f94;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px;
}
.addblog .input-tags .text{
  font-size: 15px;
  font-weight: 500;
}
.addblog .input-tags .close{
  margin-left: 10px;
}
.addblog .input-tags .tags-input-field{
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  outline: none;
  color: gray;
  flex-grow: 1;
  background-color: transparent;
}
.addblog .form .category select,
.addblog .form .visibility select{
  width: 100%;
  padding: 15px;
  font-size: 15px;
  border: 1px solid rgba(128, 128, 128, 0.501);
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  color: gray;
}
.addblog .form .postBtn{
  padding: 10px 20px;
  background-color: #1926e1;
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 2px rgba(128, 128, 128, 0.419);
}
.addblog .form .save{
  background-color: rgb(235, 128, 65)!important;
}
@media screen and (max-width: 575px){
  .addblog .form .postBtn{
    width: 100%;
  }
}

/* Blogs Viewer */
.blogviewer{
  width: 100%;
  padding-top: 50px;
  background-color: var(--body_background);
  color: var(--body_color);
}
.blogviewer .category{
  background-color: #434fec;
  display: inline-block;
  padding: 7px 25px;
  border: none;
  border-radius: 10px;
  color: #f1f1f1;
}
.blogviewer .title {
  font-size: 25px;
  font-weight: 600;
  margin: 20px 0px;
}
.blogviewer .auther-details .profile-img img{
  width: 50px;
  border-radius: 50%;
}
.blogviewer .auther-details .auther-name,
.blogviewer .auther-details .date-time {
  margin-left: 10px;
}
.blogviewer .blog-body{
  margin-top: 20px;
  width: 100%;
  overflow: auto;
}




/* Admin Dashboard */
/* Top nav bar */
.dashboard{
  background-color: #f1f1f1;
  color: black;
}
.dashboard .title{
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0px;
  margin-top: 5px;
}
.dashboard .profile img{
  width: 50px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
.dashboard .profile-option{
  float: right;
}
.dashboard .search input{
  margin: 10px;
  padding: 5px 30px 5px 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 200px;
}
.dashboard .search .fa-magnifying-glass{
  position: relative;
  top: 24px;
  left: -35px;
}
.dashboard .search .fa-magnifying-glass:hover{
  cursor: pointer;
}
.dashboard .option{
  position: absolute;
  background-color: #f1f1f1;
  top: 60px;
  right: 17px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 2px rgba(128, 128, 128, 0.471);
}
.dashboard .option i{
  padding: 5px 5px;
}
.dashboard .option ul{
  width: 150px;
  padding-left: 0px;
  margin: 0px;
}
.dashboard .option ul li{
  padding: 10px;
  font-weight: 500;
}
.dashboard .option ul li:hover .profile a,
.dashboard .option ul li:hover .logout a,
.dashboard .option ul li:hover{
  color: white;
}
.dashboard .option ul li:hover{
  background-color: #747be2;
}
.dashboard .title .fa-bars-staggered{
  font-size: 20px;
  margin: 4px 10px;
}
.dashboard .title .fa-bars-staggered:hover{
  cursor: pointer;
}


/* Left Nav Bar */
@media screen and (max-width : 575px){
  
}
.leftnav{
  background-color: rgb(53, 46, 153);
  width: 200px;
  height: 100vh;
}
.leftnav .leftnav-inner .profile img{
  width: 100px;
  border-radius: 50%;
  position: relative;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.leftnav .leftnav-inner .menu{
  padding: 0px 10px;
}
.leftnav .leftnav-inner .menu li{
  padding: 10px 0px 10px 20px;
}
.leftnav .leftnav-inner .menu li a{
  color: black;
  font-weight: 500;
}
.leftnav .leftnav-inner .menu li:hover a{
  color: white;
}
.leftnav .menu .active{
  background-color: rgb(155, 48, 227);
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 2px rgba(128, 128, 128, 0.255)
}
.leftnav .menu .active a{
  color: #f1f1f1!important;
}
.admin .top-nav{
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}
 /* Main body */
 .main-body{
  height: 90vh;
  overflow-y: scroll;
 }
.main-body .card-total{
  margin-top: 20px;
  padding: 20px 0px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px rgba(128, 128, 128, 0.255)
}
.main-body .card1{
  background-color: #1926e1;
}
.main-body .card2{
  background-color: #135a1f;
} 
.main-body .card3{
  background-color: #35135a;
}
.main-body .card4{
  background-color: #113d39;
}

.main-body .card-total i{
  font-size: 35px;
  color: white;
}
.main-body .card-total .card-title{
  font-size: 22px;
  color: #f1f1f1;
  margin-top: 5px;
}
.main-body .card-total .text{
  font-size: 25px;
  font-weight: 500;
  color: white;
  margin-top: 5px;
}

/* Admin blog card */
.admin-blog-card{
  background-color: rgb(185, 221, 233);
  border-bottom: 1px solid rgba(128, 128, 128, 0.37);
}
@media screen and (max-width : 668px){
  
  
}
.admin-blog-card .row{
  width: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
}
.admin-blog-card .inner-card .visibility{
  display: inline-block;
  padding: 5px 20px;
  border-radius: 20px;
}
.admin-blog-card .inner-card .public{
  background-color: #70e16f;
}
.admin-blog-card .inner-card .unlisted{
  background-color: #59a2bf;
}
.admin-blog-card .inner-card .private{
  background-color: #ea6262;
}
.admin-blog-card .inner-card i{
  font-size: 20px;
  padding: 5px;
  float: right;
}
.admin-blog-card .inner-card i:hover{
  cursor: pointer;
  transform: scale(1.5);
  transition: .3s ease-in-out;
}
.admin-blog-card .inner-card .fa-pencil{
  color: rgb(61, 214, 61);
}
.admin-blog-card .inner-card .fa-trash-can{
  color: rgb(223, 70, 23);
}

/* Admin Signup */
.admin-signup{
  width: 100%;
  height: 100vh;
  background-color: #113d39;
}
.admin-signup .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.admin-signup .form{
  background: linear-gradient(45deg, #00513e, #ffc32a9f);
  padding: 50px;
  
  border-radius: 20px;
}
@media screen and (min-width: 991px){
  .admin-signup .container{
    padding: 0px 200px;
  }
  .admin-signup .form{
    padding: 50px 100px;
  }
}
.admin-signup .form .title{
  font-size: 28px;
  font-weight: 700;
  color: #f1f1f1;
  margin-bottom: 20px;
}
.admin-signup .form .signup-input{
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.923);
  border-radius: 10px;
  margin: 5px 0px;
  outline: none;
  background: transparent;
  color: white;
}
.admin-signup .form .signup-input::placeholder{
  color: #f1f1f1;
}
.admin-signup .form .signup-btn{
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #ffc42a;
  color: #00513e;
  font-weight: 500;
  box-sizing: border-box;
}
.admin-signup .form .signup-input:focus{
  transform: scale(1.1);
  transition: .5s ease;
  box-shadow: 2px 2px 10px 2px #014132;
}
.admin-signup .form .signup-btn:hover{
  transition: .5s ease;
  box-shadow: 2px 2px 10px 2px #014132;
  transform: scale(1.2);
}
.admin-signup .form .account{
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  color: #f1f1f1;
}
.admin-signup .form .account .login{
  color: #ffc32a9f;
  font-weight: 600;
}
.admin-signup .form .account .login:hover{
  color: #1926e1;
  transition: .3s ease;
  cursor: pointer;
}

/* Admin Profile */
.admin-profile .form{
  margin-bottom: 50px;
}
.admin-profile .form .profile-logo{
  width: 100px;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 20px 0px;
}
.admin-profile .form .text-input{
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.447);
  border-radius: 10px;
  outline: none;
}
.admin-profile .form .text-label{
  font-size: 18px;
  color: gray;
  padding-left: 5px;
}
.admin-profile .form .radio-input{
  font-size: 30px;
  color: gray;
  transform: scale(1.2);
  margin-left: 20px;
}
.admin-profile .form .update-btn{
  background-color: #1926e1;
  padding: 10px 50px;
  margin-top: 30px;
  border: none;
  outline: none;
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 2px #014132;
}

/* Blogs list Add */
.blogList .addNewBlogBtn{
  background-color: #256c5b;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px 0px 10px 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 2px #00513e;
}
.blogList .addNewBlogBtn i{
  font-size: 22px;
  color: #f1f1f1;
}
.blogList .addNewBlogBtn span{
  font-size: 16px;
  font-weight: 500;
  color: #f1f1f1;
}
.go-to-home i{
  font-size: 25px;
  color: #f1f1f1;
}